#input {
	margin: 10px; 
	border: none; 
	background-color: #453e3d; 
        color: #ffffff; 
}

#inner-box {
	margin: 5px;
	border: none; 
	background-color: #1f1f1f; 
        color: #ffffff; 
}

#outer-box {
	margin: 5px; 
	border: none 
	background-color: #1f1f1f; 

}

#text {
	margin: 5px;
	border: none; /* border around each individual item within the search results */
	background-color: trans; /* background behind each individual item within the search results */
        color: ffffff;
}

/* Remove the search icon */
#input > image.left {
        -gtk-icon-transform:scaleX(0);
}

#scroll {
	margin: 5px;
	border: 2px solid #1f1f1f;
	background-color: #1f1f1f; /* background color behind the search slider */
}

window {
	margin: 15px;
	border: 3px solid green; /* border around the entire window */
	background-color: #1f1f1f;
}
